In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [2]:
# # Machine Learning libraries
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error
# import tensorflow as tf

In [3]:
# Load the dataset
file_path = 'Resources/US_Accidents_2023_Arizona.csv'
df = pd.read_csv(file_path, low_memory=False)

In [4]:
display(df)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2127689,Source2,2,2019-05-28 07:37:44,2019-05-28 08:45:19,33.436073,-111.926163,NaN,NaN,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
1,A-5094139,Source1,2,2022-12-07 14:13:30.000000000,2022-12-07 19:50:00.000000000,33.462169,-112.044382,33.462945,-112.167175,7.078,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-5478004,Source1,2,2021-10-28 08:28:00,2021-10-28 10:38:48,32.134285,-110.888800,32.137974,-110.889210,0.256,...,False,False,False,False,True,False,Day,Day,Day,Day
3,A-2050515,Source2,2,2019-06-13 06:07:13,2019-06-13 06:36:46,33.422340,-111.831451,NaN,NaN,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5137347,Source1,2,2023-01-19 15:20:30.000000000,2023-01-19 15:51:00.000000000,32.199798,-110.903019,32.199496,-110.909341,0.370,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11145,A-3635317,Source1,2,2017-06-05 09:56:41,2017-06-05 15:56:41,32.734420,-111.548260,32.735271,-111.550361,0.136,...,False,False,False,False,False,False,Day,Day,Day,Day
11146,A-2592138,Source2,3,2018-09-18 15:21:16,2018-09-18 15:50:50,33.411053,-111.995293,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
11147,A-6138538,Source1,2,2021-11-17 15:11:40.000000000,2021-11-17 16:27:30.000000000,32.227778,-110.952372,32.227775,-110.951031,0.078,...,False,False,True,False,False,False,Day,Day,Day,Day
11148,A-4254974,Source1,2,2022-04-01 16:03:47,2022-04-01 18:11:24,33.669909,-112.038242,33.672649,-112.024312,0.823,...,False,False,False,False,False,False,Day,Day,Day,Day
11149,A-3789256,Source1,2,2022-04-13 19:28:29,2022-04-13 21:33:44,34.561862,-112.259620,34.566822,-112.267150,0.549,...,False,False,False,False,True,False,Night,Night,Day,Day

In [12]:
# Load the dataset
file_path = 'Resources/US_Accidents_2023_Arizona.csv'
df = pd.read_csv(file_path, low_memory=False)

# Convert Start_Time to datetime format with error handling
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')

# Filter out rows where Start_Time conversion failed
df = df.dropna(subset=['Start_Time'])

# Filter for 2023 data
df_2023 = df[df['Start_Time'].dt.year == 2022]

# Define Phoenix metropolitan area cities
phoenix_cities = [
    'Phoenix', 'Mesa', 'Chandler', 'Glendale', 'Scottsdale', 'Gilbert', 
    'Tempe', 'Peoria', 'Surprise', 'Avondale', 'Goodyear', 'Buckeye'
]

# Filter for the Phoenix metropolitan area
df_phoenix_2023 = df_2023[df_2023['City'].isin(phoenix_cities)]

# Drop specified columns
columns_to_drop = ['Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']
df_phoenix_2023 = df_phoenix_2023.drop(columns=columns_to_drop)

# Rename 'Sunrise_Sunset' to 'Day_or_Night'
df_phoenix_2023 = df_phoenix_2023.rename(columns={'Sunrise_Sunset': 'Day_or_Night'})

# Display the cleaned data
print(df_phoenix_2023.head())

# Save the cleaned data to a new CSV file
cleaned_file_path = 'Resources/US_Accidents_2023_Phoenix_Metro.csv'
df_phoenix_2023.to_csv(cleaned_file_path, index=False)

# Print the number of rows in the cleaned dataset
display(f"Number of rows in the Phoenix metropolitan area for 2023: {len(df_phoenix_2023)}")

           ID   Source  Severity          Start_Time             End_Time  \
7   A-4620667  Source1         2 2022-05-04 00:35:44  2022-05-04 02:41:29
43   A-752668  Source2         2 2022-01-10 08:02:18  2022-01-10 08:47:17
62  A-5410011  Source1         2 2022-04-24 23:29:51  2022-04-25 00:52:16
81  A-4452285  Source1         2 2022-01-03 15:00:00  2022-01-03 16:40:31
84   A-658916  Source2         2 2022-04-06 05:21:09  2022-04-06 05:50:52

    Start_Lat   Start_Lng    End_Lat     End_Lng  Distance(mi)  ... Junction  \
7   33.457822 -112.364291  33.457752 -112.352981         0.652  ...    False
43  33.494709 -112.056328        NaN         NaN         0.000  ...    False
62  33.406713 -112.061288  33.404100 -112.061327         0.181  ...    False
81  33.497898 -112.186309  33.498668 -112.186296         0.053  ...    False
84  33.552662 -112.209618        NaN         NaN         0.000  ...    False

   No_Exit Railway Roundabout Station   Stop Traffic_Calming Traffic_Signal  \
7    False   False      False   False  False           False          False
43   False   False      False   False  False           False           True
62   False   False      False   False   True           False          False
81   False   False      False   False  False           False          False
84   False   False      False   False   True           False          False

   Turning_Loop Day_or_Night
7         False        Night
43        False          Day
62        False        Night
81        False          Day
84        False        Night

[5 rows x 43 columns]

'Number of rows in the Phoenix metropolitan area for 2023: 876'

In [2]:
# Load the dataset
file_path = 'Resources/US_Accidents_2023_Phoenix_Metro.csv'
df = pd.read_csv(file_path, low_memory=False)

# Display basic information about the dataset
print(df.info())

# Question 1: Most Accident-Prone Intersections/Areas
# Group by Start_Lat and Start_Lng to identify intersections and count the number of accidents
intersection_accidents = df.groupby(['Start_Lat', 'Start_Lng']).size().reset_index(name='Accident_Count')
# Sort by the number of accidents in descending order
most_accident_prone_areas = intersection_accidents.sort_values(by='Accident_Count', ascending=False).head(10)
print("Most Accident-Prone Intersections/Areas:")
print(most_accident_prone_areas)

# Question 2: City with the Most Accidents (Volume)
# Group by City and count the number of accidents
city_accident_volume = df.groupby('City').size().reset_index(name='Accident_Count')
# Sort by the number of accidents in descending order
city_with_most_accidents = city_accident_volume.sort_values(by='Accident_Count', ascending=False)
print("\nCity with the Most Accidents (Volume):")
print(city_with_most_accidents)

# Question 3: City with the Worst Accidents (Severity)
# Group by City and calculate the average severity of accidents
city_accident_severity = df.groupby('City')['Severity'].mean().reset_index(name='Average_Severity')
# Sort by the average severity in descending order
city_with_worst_accidents = city_accident_severity.sort_values(by='Average_Severity', ascending=False)
print("\nCity with the Worst Accidents (Severity):")
print(city_with_worst_accidents)

# Save the results to CSV files for further analysis if needed
most_accident_prone_areas.to_csv('Resources/Most_Accident_Prone_Areas.csv', index=False)
city_with_most_accidents.to_csv('Resources/City_With_Most_Accidents.csv', index=False)
city_with_worst_accidents.to_csv('Resources/City_With_Worst_Accidents.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876 entries, 0 to 875
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 876 non-null    object
 1   Source             876 non-null    object
 2   Severity           876 non-null    int64
 3   Start_Time         876 non-null    object
 4   End_Time           876 non-null    object
 5   Start_Lat          876 non-null    float64
 6   Start_Lng          876 non-null    float64
 7   End_Lat            679 non-null    float64
 8   End_Lng            679 non-null    float64
 9   Distance(mi)       876 non-null    float64
 10  Description        876 non-null    object
 11  Street             869 non-null    object
 12  City               876 non-null    object
 13  County             876 non-null    object
 14  State              876 non-null    object
 15  Zipcode            876 non-null    object
 16  Country            876 non-null    object
 17  Timezone           876 non-null    object
 18  Airport_Code       875 non-null    object
 19  Weather_Timestamp  874 non-null    object
 20  Temperature(F)     872 non-null    float64
 21  Wind_Chill(F)      858 non-null    float64
 22  Humidity(%)        871 non-null    float64
 23  Pressure(in)       872 non-null    float64
 24  Visibility(mi)     874 non-null    float64
 25  Wind_Direction     860 non-null    object
 26  Wind_Speed(mph)    860 non-null    float64
 27  Precipitation(in)  787 non-null    float64
 28  Weather_Condition  863 non-null    object
 29  Amenity            876 non-null    bool
 30  Bump               876 non-null    bool
 31  Crossing           876 non-null    bool
 32  Give_Way           876 non-null    bool
 33  Junction           876 non-null    bool
 34  No_Exit            876 non-null    bool
 35  Railway            876 non-null    bool
 36  Roundabout         876 non-null    bool
 37  Station            876 non-null    bool
 38  Stop               876 non-null    bool
 39  Traffic_Calming    876 non-null    bool
 40  Traffic_Signal     876 non-null    bool
 41  Turning_Loop       876 non-null    bool
 42  Day_or_Night       876 non-null    object
dtypes: bool(13), float64(12), int64(1), object(17)
memory usage: 216.6+ KB
None
Most Accident-Prone Intersections/Areas:
     Start_Lat   Start_Lng  Accident_Count
346  33.461540 -112.099153               5
516  33.495522 -112.112961               4
628  33.571454 -112.117300               3
659  33.596045 -112.117019               3
478  33.483257 -112.113037               3
649  33.587134 -112.117046               3
383  33.462093 -112.049942               3
389  33.462137 -112.042627               3
324  33.460894 -112.085488               3
163  33.408096 -111.891281               3

City with the Most Accidents (Volume):
          City  Accident_Count
8      Phoenix             472
11       Tempe              93
9   Scottsdale              54
2     Chandler              53
4     Glendale              45
6         Mesa              41
1      Buckeye              28
5     Goodyear              24
0     Avondale              23
7       Peoria              17
10    Surprise              17
3      Gilbert               9

City with the Worst Accidents (Severity):
          City  Average_Severity
1      Buckeye          2.178571
2     Chandler          2.113208
0     Avondale          2.086957
8      Phoenix          2.076271
4     Glendale          2.066667
7       Peoria          2.058824
11       Tempe          2.043011
5     Goodyear          2.041667
9   Scottsdale          2.037037
3      Gilbert          2.000000
6         Mesa          2.000000
10    Surprise          2.000000